html {
    margin: 0;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: inherit;
}   

.progress-bar {
    width: 500px;
    height: 30px;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.progress-fill{
    background-color: green;
    height: 100%;
    width: 100%;
    flex-basis: 50%;
}

.progress-fill span{
    color:white;
    font-weight: bold;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}
.main-container h2{
    margin-right: 10px;
}


